/* Targeting standard Quarto code blocks */
pre.sourceCode,
/* Targeting your custom HTML code blocks */
pre > code {
    font-size: 22pt; /* or whatever size matches your regular code chunks */
    font-family: "Courier New", Courier, monospace; /* or whatever font you prefer */
      line-height: 1.1; /* Adjust the line height value as needed */
}

.small-code pre {
    font-size: 0.8em;
}

.func-name {
    color: cornflowerblue;
}

.func-args {
    color: green;
}

.func-body {
    color: darkorange;
}

.footer-content {
  position: absolute;
  bottom: 10px;
  left: 50%;
  transform: translateX(-50%);
  background-color: rgba(255, 255, 255, 0.7);
  padding: 5px 10px;
  border-radius: 5px;
  font-size: 0.6em;
}
